.cart-item {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: var(--highlight-item-bg);
    color: var(--highlight-item-txt);
  }

  &__info {
    flex-grow: 1;
  }

  &__remove {
  }
}

