<label class="search">
  Search
  <input type="text" [formControl]="searchCtrl">
</label>
<ng-template #notFound>
  <div class="products-not-found">
    Products not found
  </div>
</ng-template>
<div class="item-list" *ngIf="productList$ | async as productList; else notFound">
  <app-product-item class="item-list__item" [product]="product" *ngFor="let product of productList" [search]="searchCtrl.value"></app-product-item>
</div>
<div class="pagination">
  <app-paginator (pageChanged)="page$.next($event)"></app-paginator>
</div>
