.product {
  padding: 0.5rem;
  border: 1px solid #f5f5f5;
  border-radius: 5px;

  &__image {
    display: flex;
    justify-content: center;
  }

  &__image img {
    display: block;
    width: var(--product-item-width);
    height: calc(var(--product-item-width) * 480 / 640);
    margin-bottom: 0.5rem;
  }

  &__price {
    display: block;
  }
}
