.product {
  padding: 0.5rem;
  border: var(--separate-line);
  border-radius: var(--separate-line-radius);
  cursor: pointer;

  &:hover {
    background: var(--highlight-item-bg);
    color: var(--highlight-item-txt);
  }

  &__image {
    display: flex;
    justify-content: center;

    & img {
      display: block;
      width: var(--product-item-width);
      height: calc(var(--product-item-width) * 480 / 640);
      margin-bottom: 0.5rem;
    }
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__info-action {
    margin-right: 1rem;
  }

  &__price {
    display: block;
  }
}
