.product {
  padding: 0.5rem;
  border: var(--separate-line);
  border-radius: var(--separate-line-radius);

  &__image {
    display: flex;
    justify-content: center;
  }

  &__image img {
    display: block;
    width: var(--product-item-width);
    height: calc(var(--product-item-width) * 480 / 640);
    margin-bottom: 0.5rem;
  }

  &__price {
    display: block;
  }
}
