.symbol {
  position: relative;
  top: -0.3em;
  font-size: 0.8rem;
}

.price {
  font-weight: 600;
}

.base-price {
  color: gray;
  text-decoration: line-through;
  font-size: 0.9rem;
  margin-left: 0.4rem;
}
