<app-back-button route="../.."></app-back-button>
<div class="product-details" *ngIf="product$ | async as product">
  <app-image-gallery class="product-details__gallery" [data]="product"></app-image-gallery>
  <div class="product-details__info">
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    <div class="actions">
      <app-cart-button-add (click)="cartDataService.addToCart(product.id)"></app-cart-button-add>
      <app-price [data]="product.calculatePrice()"></app-price>
    </div>
  </div>
</div>
