.product-details {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--product-item-cell-width), 1fr));
  padding: 1rem;

  &__gallery {

  }

  &__info {
    margin-left: 1rem;
  }
}

.actions {
  display: flex;
  align-items: center;
}

app-cart-button-add {
  margin-right: 1rem;
}
