.back-to-showcase {
  cursor: pointer;
  margin: 0 1rem;

  &:hover {
    text-decoration: underline;
  }
}

.product-details {
  position: relative;
  display: flex;
  padding: 1rem;

  &__gallery {

  }

  &__info {
    margin-left: 1rem;
  }
}
