:host {
  display: flex;
  align-items: stretch;
}

.user-menu {
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;

  &__hello {
    display: flex;
    align-items: center;
  }

  &__hello-details {
    margin-right: .5rem;
  }

  &__is-admin {
    font-size: .8rem;
    color: red;
    text-align: right;
  }

  &__options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 100%;
    width: max-content;
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    border: var(--separate-line);

    & li {
      background: #eee;
      padding: 0.5rem 1rem;
    }

    & li:hover {
      background: #aaa;
      cursor: pointer;
    }
  }

  &:hover &__options {
    display: block;
  }
}
