.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555555;
}

.cart-item, .cart-total {
  padding: 0.5rem;
  display: block;
}

.cart-total {
  border-top: 1px solid gray;
}
