:host, .button {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.button {
  cursor: pointer;
  opacity: .7;
  transition-duration: 0.5s;

  &:hover {
    opacity: 1;
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
