.recommended {
  padding: 1rem;

  &__title {
    margin: .3rem 0;
  }

  &__list {
    display: flex;
    align-items: stretch;
    position: relative;
    overflow-x: auto;
  }

  &__list-item {
    margin: 0 .1rem;
  }
}
